/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "DINNextLTW23-Regular";
  src: url("./fonts/DINNEXTARABICREGULAR.eot"); /* IE9 Compat Modes */
  src: url("./fonts/DINNEXTARABICREGULAR.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/DINNEXTARABICREGULAR.otf") format("opentype"), /* Open Type Font */
    url("./fonts/DINNEXTARABICREGULAR.svg") format("svg"), /* Legacy iOS */
    url("./fonts/DINNEXTARABICREGULAR.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/DINNEXTARABICREGULAR.woff") format("woff"), /* Modern Browsers */
    url("./fonts/DINNEXTARABICREGULAR.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}