/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "DINNextLTW23-Light";
  src: url("./fonts/DINNEXTARABICLIGHT.eot"); /* IE9 Compat Modes */
  src: url("./fonts/DINNEXTARABICLIGHT.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/DINNEXTARABICLIGHT.otf") format("opentype"), /* Open Type Font */
    url("./fonts/DINNEXTARABICLIGHT.svg") format("svg"), /* Legacy iOS */
    url("./fonts/DINNEXTARABICLIGHT.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/DINNEXTARABICLIGHT.woff") format("woff"), /* Modern Browsers */
    url("./fonts/DINNEXTARABICLIGHT.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}